html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f3e4;
  font-family: "Nunito", sans-serif;
}

main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em 1em;
  min-width: 32rem;
}

:root {
  --light-green: #6D8B74;
  --dark-green: #5F7161;
  --border-color: #D3D3D3;
  --dark-grey: #282828;
  --box-shadow: 0px 0px 20px -2px #DFDFDF;
}

h1,
h2,
h3 {
  color: var(--light-green);
  margin-top: 0;
}

h1,
h2 {
  font-weight: 900;
  letter-spacing: 0.225em;
}

h1 {
  font-size: 1.875rem;
  margin-bottom: 0.8em;
}

h2,
h3 {
  font-size: 1.625rem;
}

h3 {
  font-weight: 700;
  margin-bottom: 0.5em;
}

a,
button {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1.375rem;
  font-weight: 800;
}

p {
  margin-top: 0;
  padding-top: 0;
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--dark-grey);
}

.container {
  position: relative;
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
  background-color: #fff;
  width: 470px;
  min-width: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 3em;
  border-radius: 2.375em;
  text-align: center;
}
.container--inactive {
  display: none;
}
.container--no-shadow {
  box-shadow: none;
}
.container__header {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}
.container__header-img {
  height: 1.625rem;
  width: 2rem;
  transition: height 0.1s;
}
.container__header-img:hover {
  height: 1.9rem;
  cursor: pointer;
}
.container__body {
  width: 100%;
}
.container__hint {
  -webkit-animation: hints-zoom-in 0.2s;
          animation: hints-zoom-in 0.2s;
}
@-webkit-keyframes hints-zoom-in {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes hints-zoom-in {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.container__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em 0em;
}
.container__stopwatch {
  display: flex;
}
.container__minutes, .container__seconds, .container__tens, .container__attempts {
  font-weight: 700;
  color: var(--light-green);
}
.container__minutes, .container__seconds, .container__attempts {
  font-size: 1.625rem;
}
.container__tens {
  font-size: 1.125rem;
  margin-top: 0.4em;
}
.container__type {
  box-sizing: border-box;
  font-weight: 800;
  font-size: 1.125rem;
  padding: 0.2em 0.6em;
  color: #fff;
  border-radius: 10em;
}
.container__type--easy {
  background-color: #E8E2CD;
}
.container__type--medium {
  background-color: #D0C9C0;
}
.container__type--hard {
  background-color: #B5A694;
}
.container__input {
  width: 100%;
  border: 1px solid var(--border-color);
  height: 4.5em;
  border-radius: 10em;
  padding: 0em 1em;
  box-sizing: border-box;
}
.container__input:focus {
  outline: none;
}
.container__input--btn-space {
  margin-bottom: 6.5em;
}
.container__buttons {
  position: relative;
}
.container__name--margin-bottom-0 {
  margin-bottom: 0;
}
.container__btn {
  cursor: pointer;
  background-color: var(--light-green);
  box-shadow: 0px 7px 0px var(--dark-green);
  padding: 0.5em 1em;
  border-radius: 10em;
  position: absolute;
  bottom: 2.8em;
  transition: all 0.1s;
  display: flex;
  align-items: center;
  text-align: center;
  outline: none;
  border: none;
}
.container__btn:hover {
  box-shadow: 0px 2px 0px var(--dark-green);
  bottom: 2.65em;
}
.container__btn-icon {
  height: 1.625rem;
  margin-top: 0.1em;
  margin-left: 0.2em;
}
.container__btn-icon--no-margin {
  margin-top: 0;
}
.container__btn--right {
  right: 0;
}
.container__btn--down {
  bottom: 0.15em;
}
.container__btn--down:hover {
  bottom: 0;
}
.container__text-highlight {
  color: var(--light-green);
  font-weight: 700;
}
.container__text-highlight--link {
  text-decoration: underline;
  cursor: pointer;
}
.container__text-highlight--no-margin {
  margin: 0;
}
.container__text--btn-space {
  margin-bottom: 5.5em;
}

.modal::-webkit-backdrop {
  background-color: #000;
  opacity: 0.3;
}

.modal::backdrop {
  background-color: #000;
  opacity: 0.3;
}

.modal {
  border: 0;
  background-color: transparent;
  max-width: 32em;
}/*# sourceMappingURL=style.css.map */