@use 'animation';

.container {
    position: relative;
    border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    background-color: #fff;
    width: 470px;
    min-width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 3em;
    border-radius: 2.375em;
    text-align: center;

    &--inactive {
        display: none;
    }

    &--no-shadow {
        box-shadow: none;
    }

    &__header {
        width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin-bottom: 2em;

        &-img {
            height: 1.625rem;
            width: 2rem;
            transition: height 0.1s;
        }

        &-img:hover {
            height: 1.9rem;
            cursor: pointer;
        }

    }

    &__body {
        width: 100%;
    }

    &__hint {
        @include animation.hints-zoom-in;
    }

    &__stats {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.5em 0em;
    }

    &__stopwatch {
        display: flex;
    }

    &__minutes,
    &__seconds,
    &__tens,
    &__attempts {
        font-weight: 700;
        color: var(--light-green);
    }

    &__minutes,
    &__seconds,
    &__attempts {
        font-size: 1.625rem;
    }

    &__tens {
        font-size: 1.125rem;
        margin-top: 0.4em;
    }

    &__type {
        box-sizing: border-box;
        font-weight: 800;
        font-size: 1.125rem;
        padding: 0.2em 0.6em;
        color: #fff;
        border-radius: 10em;
        
        &--easy {
            background-color: #E8E2CD;
        }

        &--medium {
            background-color: #D0C9C0;
        }

        &--hard {
            background-color: #B5A694;
        }
    }

    &__input {
        width: 100%;
        border: 1px solid var(--border-color);
        height: 4.5em;
        border-radius: 10em;
        padding: 0em 1em;
        box-sizing: border-box;

        &:focus {
            outline: none;
        }

        &--btn-space {
            margin-bottom: 6.5em;
        }
    }

    &__buttons {
        position: relative;
    }

    &__name--margin-bottom-0 {
        margin-bottom: 0;
    }

    &__btn {
        cursor: pointer;
        background-color: var(--light-green);
        box-shadow: 0px 7px 0px var(--dark-green);
        padding: 0.5em 1em;
        border-radius: 10em;
        position: absolute;
        bottom: 2.8em;
        transition: all 0.1s;
        display: flex;
        align-items: center;
        text-align: center;
        outline: none;
        border: none;

        &:hover {
            box-shadow: 0px 2px 0px var(--dark-green);
            bottom: 2.65em;
        }

        &-icon {
            height: 1.625rem;
            margin-top: 0.1em;
            margin-left: 0.2em;

            &--no-margin {
                margin-top: 0;
            }
        }

        &--right {
            right: 0;
        }

        &--down {
            bottom: 0.15em;

            &:hover {
                bottom: 0;
            }
        }
    }

    &__text-highlight {
        color: var(--light-green);
        font-weight: 700;

        &--link {
            text-decoration: underline;
            cursor: pointer;
        }

        &--no-margin {
            margin: 0;
        }
    }

    &__text--btn-space {
        margin-bottom: 5.5em;
    }
}