html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f3e4;
}

main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 1em;
    min-width: 32rem;
}